{
    "server_1": {
        "ip": "0.0.0.0:27015",
        "nick": "Beginner Surf",
        "protocol": "csgo",
        "keywords": [
            "server1",
            "test1"
        ]
    },
    "server_2": {
        "ip": "fqdn.example.tld:27015",
        "nick": "Server Two",
        "protocol": "cs2",
        "keywords": [
            "server2",
            "test2"
        ]
    }
}
